In [4]:
sphere_vol(r) = 4/3 * π * r ^ 3

sphere_vol (generic function with 1 method)

In [5]:
sphere_vol(4)

268.082573106329

In [1]:
π

π = 3.1415926535897...

In [7]:
quadratic(a, sqr_term, b) = (-b + sqr_term) / 2a

quadratic (generic function with 1 method)

In [8]:
function quadratic2(a::Float64, b::Float64, c::Float64)
    sqr_term = sqrt(b^2 - 4a*c)
    r1 = quadratic(a, sqr_term, b)
    r2 = quadratic(a, -sqr_term, b)
    r1, r2
end

quadratic2 (generic function with 1 method)

In [9]:
vol = sphere_vol(3)

113.09733552923254

In [10]:
@printf "volume = %0.3f\n" vol

volume = 113.097

In [11]:
quad1, quad2 = quadratic2(2.0, -2.0, -12.0)

(3.0,-2.0)

In [12]:
println("result 1: ", quad1)

result 1: 3.0

In [13]:
println("result 2: ", quad2)

result 2: -2.0

In [14]:
int('1')

49

In [15]:
s1 = "The quick brown fox jumps over the lazy dog α,β,γ"

"The quick brown fox jumps over the lazy dog α,β,γ"

In [16]:
print("this")

this

In [17]:
println("this")

this

In [19]:
s1[11]

'b'

In [20]:
show(s1[1:10])

"The quick "

In [21]:
println()

In [22]:
show(s1[end-10:end])

"dog α,β,γ"

In [23]:
int('1')

49

In [24]:
int("1")

1

In [29]:
e_str1 = "2.718"

"2.718"

In [34]:
e_str2 = @sprintf("%0.3f", e)

"2.718"

In [30]:
e = float(e_str1)

Warning: imported binding for e overwritten in module Main

2.718

In [33]:
@printf "e = %0.2f\n" e

e = 2.72

In [35]:
e

2.718

In [36]:
whos()

#417#out                      Pipe
#418###x#23367                Float64
#425#out                      Pipe
#426###x#23444                MathConst{:e}
#433#out                      Pipe
#434###x#23452                MathConst{:e}
#441#out                      IOBuffer
#442###x#23453                MathConst{:e}
#449#out                      IOBuffer
#450###x#23454                Float64
#457#out                      Pipe
#458###x#23455                Float64
#465#out                      IOBuffer
#466###x#23456                Float64
Base                          Module
Compat                        Module
Core                          Module
DataStructures                Module
Docile                        Module
IJulia                        Module
IPythonDisplay                Module
JSON                          Module
Main                          Module
Nettle                        Module
ZMQ                           Module
e                             Float64
e_str1                        ASCIIString
e_str2                        ASCIIString
quad1                         Float64
quad2                         Float64
quadratic                     Function
quadratic2                    Function
s1                            UTF8String
sphere_vol                    Function
vol                           Float64

In [37]:
rm(e)

LoadError: `rm` has no method matching rm(::Float64)
while loading In[37], in expression starting on line 1

In [38]:
del(e)

LoadError: del not defined
while loading In[38], in expression starting on line 1

In [41]:
e::MathConst

LoadError: type: typeassert: expected MathConst{sym}, got Float64
while loading In[41], in expression starting on line 1

In [42]:
s1

"The quick brown fox jumps over the lazy dog α,β,γ"

In [43]:
i = search(s1, 'b')

11

In [44]:
println(i)

11

In [45]:
length(s1)

49

In [46]:
search(s1, "brown")

11:15

In [47]:
replace(s1, "brown", "red")

"The quick red fox jumps over the lazy dog α,β,γ"

In [48]:
search(s1, r"b[\w]*n")

11:15

In [49]:
replace(s1, r"b[\w]*n", "red")

"The quick red fox jumps over the lazy dog α,β,γ"

In [51]:
r = match(r"b[\w]*n", s1)

RegexMatch("brown")

In [52]:
show(r.match)

"brown"

In [53]:
r = matchall(r"[\w]{4,}", s1)

5-element Array{SubString{UTF8String},1}:
 "quick"
 "brown"
 "jumps"
 "over"
 "lazy"

In [54]:
println(r)

SubString{UTF8String}["quick","brown","jumps","over","lazy"]

In [55]:
r = eachmatch(r"[\w]{4,}", s1)

RegexMatchIterator(r"[\w]{4,}","The quick brown fox jumps over the lazy dog α,β,γ",false)

In [56]:
for i in r
    print("\"$(i.match)\" ")
end

"quick" "brown" "jumps" "over" "lazy"

In [58]:
r = strip("hello " ^ 3)

"hello hello hello"

In [59]:
strip("hello ", ['h', ' '])

"ello"

In [60]:
split("hello, there,bob", ',')

3-element Array{SubString{ASCIIString},1}:
 "hello"
 " there"
 "bob"

In [61]:
join([1:10], ", ")

"1, 2, 3, 4, 5, 6, 7, 8, 9, 10"

In [62]:
function printsum(a)
    println(summary(a), ": ", repr(a))
end

printsum (generic function with 1 method)

In [63]:
a1 = [1,2,3]

3-element Array{Int32,1}:
 1
 2
 3

In [64]:
printsum(a1)

3-element Array{Int32,1}: [1,2,3]

In [65]:
a2 = []

0-element Array{None,1}

In [66]:
printsum(a2)

0-element Array{None,1}: None[]

In [67]:
push!(a2, 1)

LoadError: [] cannot grow. Instead, initialize the array with "T[]", where T is the desired element type.
while loading In[67], in expression starting on line 1

In [68]:
a3 = Int32[]

0-element Array{Int32,1}

In [69]:
push!(a3, 1)

1-element Array{Int32,1}:
 1

In [70]:
printsum(a3)

1-element Array{Int32,1}: [1]

In [71]:
a4 = 1:20

1:20

In [72]:
printsum(a4)

20-element UnitRange{Int32}: 1:20

In [73]:
a4 = [1:20]

20-element Array{Int32,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20

In [74]:
printsum(a4)

20-element Array{Int32,1}: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [75]:
a5 = [2^i for i=1:10]

10-element Array{Int32,1}:
    2
    4
    8
   16
   32
   64
  128
  256
  512
 1024

In [76]:
printsum(a5)

10-element Array{Int32,1}: [2,4,8,16,32,64,128,256,512,1024]

In [77]:
a6 = (Array{Int32, 1})[]

0-element Array{Array{Int32,1},1}

In [78]:
a1

3-element Array{Int32,1}:
 1
 2
 3

In [79]:
push!(a1, 4)

4-element Array{Int32,1}:
 1
 2
 3
 4

In [80]:
push!(a3, 1)

2-element Array{Int32,1}:
 1
 1

In [81]:
push!(a6, [1,2,3])

1-element Array{Array{Int32,1},1}:
 [1,2,3]

In [82]:
a1

4-element Array{Int32,1}:
 1
 2
 3
 4

In [83]:
help(repeat)

INFO: Loading help data...

Base.repeat(A, inner = Int[], outer = Int[])

   Construct an array by repeating the entries of "A". The i-th
   element of "inner" specifies the number of times that the
   individual entries of the i-th dimension of "A" should be
   repeated. The i-th element of "outer" specifies the number of
   times that a slice along the i-th dimension of "A" should be
   repeated.

In [84]:
a7 = repeat(a1, inner=[2], outer=[1])

8-element Array{Int32,1}:
 1
 1
 2
 2
 3
 3
 4
 4

In [85]:
a8 = repeat([4:-1:1], inner=[1], outer=[2])

8-element Array{Int32,1}:
 4
 3
 2
 1
 4
 3
 2
 1

In [86]:
a = []

0-element Array{None,1}

In [87]:
try
    push!(a, 1)
catch err
    showerror(STDOUT, err, backtrace())
end

[] cannot grow. Instead, initialize the array with "T[]", where T is the desired element type.
 in backtrace at error.jl:30
 in include_string at loading.jl:97
 in execute_request_0x535c5df2 at /home/kevin/.julia/v0.3/IJulia/src/execute_request.jl:157
 in eventloop at /home/kevin/.julia/v0.3/IJulia/src/IJulia.jl:123
 in anonymous at task.jl:340

In [88]:
v1 = repeat([1:2], inner=[1], outer=[3*2])

12-element Array{Int32,1}:
 1
 2
 1
 2
 1
 2
 1
 2
 1
 2
 1
 2

In [89]:
v2 = repeat([1:3], inner=[2], outer=[2])

12-element Array{Int32,1}:
 1
 1
 2
 2
 3
 3
 1
 1
 2
 2
 3
 3

In [90]:
v3 = repeat([1:4], inner=[3], outer=[1])

12-element Array{Int32,1}:
 1
 1
 1
 2
 2
 2
 3
 3
 3
 4
 4
 4

In [92]:
m1 = hcat(v1, v2, v3)

12x3 Array{Int32,2}:
 1  1  1
 2  1  1
 1  2  1
 2  2  2
 1  3  2
 2  3  2
 1  1  3
 2  1  3
 1  2  3
 2  2  4
 1  3  4
 2  3  4

In [93]:
m2 = repmat(m1, 1, 2)

12x6 Array{Int32,2}:
 1  1  1  1  1  1
 2  1  1  2  1  1
 1  2  1  1  2  1
 2  2  2  2  2  2
 1  3  2  1  3  2
 2  3  2  2  3  2
 1  1  3  1  1  3
 2  1  3  2  1  3
 1  2  3  1  2  3
 2  2  4  2  2  4
 1  3  4  1  3  4
 2  3  4  2  3  4

In [94]:
m3 = repmat(m1, 2, 1)

24x3 Array{Int32,2}:
 1  1  1
 2  1  1
 1  2  1
 2  2  2
 1  3  2
 2  3  2
 1  1  3
 2  1  3
 1  2  3
 2  2  4
 1  3  4
 2  3  4
 1  1  1
 2  1  1
 1  2  1
 2  2  2
 1  3  2
 2  3  2
 1  1  3
 2  1  3
 1  2  3
 2  2  4
 1  3  4
 2  3  4

In [3]:
m4 = [i+j+k for i=1:2, j=1:3, k=1:2]

2x3x2 Array{Int32,3}:
[:, :, 1] =
 3  4  5
 4  5  6

[:, :, 2] =
 4  5  6
 5  6  7

In [96]:
m5 = ["Hi Im # $(i+2*(j-1 + 3*(k-1)))" for i=1:2, j=1:3, k=1:2]

2x3x2 Array{Union(UTF8String,ASCIIString),3}:
[:, :, 1] =
 "Hi Im # 1"  "Hi Im # 3"  "Hi Im # 5"
 "Hi Im # 2"  "Hi Im # 4"  "Hi Im # 6"

[:, :, 2] =
 "Hi Im # 7"  "Hi Im # 9"   "Hi Im # 11"
 "Hi Im # 8"  "Hi Im # 10"  "Hi Im # 12"

In [1]:
m5 = ASCIIString["Hi Im # $(i+2*(j-1 + 3*(k-1)))" for i=1:2, j=1:3, k=1:2]

2x3x2 Array{ASCIIString,3}:
[:, :, 1] =
 "Hi Im # 1"  "Hi Im # 3"  "Hi Im # 5"
 "Hi Im # 2"  "Hi Im # 4"  "Hi Im # 6"

[:, :, 2] =
 "Hi Im # 7"  "Hi Im # 9"   "Hi Im # 11"
 "Hi Im # 8"  "Hi Im # 10"  "Hi Im # 12"

In [4]:
sum(m4, 3)  # takes the sum over the third dimension

2x3x1 Array{Int32,3}:
[:, :, 1] =
 7   9  11
 9  11  13

In [5]:
sum(m4, (1,3)) # sum over first and third dim

1x3x1 Array{Int32,3}:
[:, :, 1] =
 16  20  24

In [6]:
maximum(m4, 2)

2x1x2 Array{Int32,3}:
[:, :, 1] =
 5
 6

[:, :, 2] =
 6
 7

In [7]:
findmax(m4, 3)

(
2x3x1 Array{Int32,3}:
[:, :, 1] =
 4  5  6
 5  6  7,

2x3x1 Array{Int32,3}:
[:, :, 1] =
 7   9  11
 8  10  12)

In [8]:
m4 .+ 3

2x3x2 Array{Int32,3}:
[:, :, 1] =
 6  7  8
 7  8  9

[:, :, 2] =
 7  8   9
 8  9  10

In [9]:
m4 .+ [1:2]

2x3x2 Array{Int32,3}:
[:, :, 1] =
 4  5  6
 6  7  8

[:, :, 2] =
 5  6  7
 7  8  9

In [10]:
m4[:,:,1]

2x3 Array{Int32,2}:
 3  4  5
 4  5  6

In [11]:
m4[:,2,:]

2x1x2 Array{Int32,3}:
[:, :, 1] =
 4
 5

[:, :, 2] =
 5
 6

In [12]:
squeeze(m4[:,2,:],2)

2x2 Array{Int32,2}:
 4  5
 5  6

In [13]:
m4[:,:,1] = rand(1:6, 2, 3)

2x3 Array{Int32,2}:
 1  4  2
 2  6  4

In [14]:
rand(2, 3)

2x3 Array{Float64,2}:
 0.794113  0.0766707  0.960781
 0.312458  0.406139   0.189855

In [15]:
try
    m4[:,:,1] = rand(2,3)
catch err
    println(err)
end

InexactError()

In [16]:
try
    m4[:,:,1] = rand(1:6, 3, 2)
catch err
    println(err)
end

DimensionMismatch("tried to assign 3x2 array to 2x3x1 destination")

In [17]:
# dictionaries

a1 = {1 => "one", 2 => "two"}

Dict{Any,Any} with 2 entries:
  2 => "two"
  1 => "one"

In [18]:
a1[3] = "three"

"three"

In [19]:
a1

Dict{Any,Any} with 3 entries:
  3 => "three"
  2 => "two"
  1 => "one"

In [20]:
a2 = Dict{Int32, String}()

Dict{Int32,String} with 0 entries

In [21]:
a2[0] = "zero"

"zero"

In [22]:
a3 = {i => @sprintf("%d", i) for i = 1:10}

Dict{Any,Any} with 10 entries:
  4  => "4"
  6  => "6"
  10 => "10"
  7  => "7"
  5  => "5"
  3  => "3"
  8  => "8"
  2  => "2"
  1  => "1"
  9  => "9"

In [23]:
haskey(a1, 1)

true

In [24]:
1 in keys(a1)

true

In [25]:
keys(a1)

KeyIterator for a Dict{Any,Any} with 3 entries. Keys:
  3
  2
  1

In [26]:
values(a1)

ValueIterator for a Dict{Any,Any} with 3 entries. Values:
  "three"
  "two"
  "one"

In [27]:
collect(values(a1))

3-element Array{Any,1}:
 "three"
 "two"
 "one"

In [28]:
a2 = [1:20]

20-element Array{Int32,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20

In [29]:
for i in a2
    
    if i % 2 != 0
        continue
    end
    print(i, ", ")
    if i >= 8
        break
    end
end

2, 4, 6, 8,

In [30]:
# if the array is being manipulated during evaluation, a while
# loop should be used
a1 = [1:4]
while !isempty(a1)
    print(pop!(a1), ", ")
end

4, 3, 2, 1,

In [31]:
d1 = {1=>"one", 2=>"two", 3=>"three"}

Dict{Any,Any} with 3 entries:
  3 => "three"
  2 => "two"
  1 => "one"

In [32]:
for k in sort(collect(keys(d1)))
    print(k, ": ", d1[k], ", ")
end

1: one, 2: two, 3: three,

In [33]:
a3 = ["one", "two", "three"]

3-element Array{ASCIIString,1}:
 "one"
 "two"
 "three"

In [34]:
for (i, v) in enumerate(a3)
    print(i, ": ", v, ", ")
end

1: one, 2: two, 3: three,

In [36]:
a4 = map(x -> x^2, [1,2,3])

3-element Array{Int32,1}:
 1
 4
 9

In [37]:
# a simple type definition
type Person
    name::String
    male::Bool
    age::Float64
    chidren::Int
end

In [38]:
p = Person("Julia", false, 4, 0)

Person("Julia",false,4.0,0)

In [39]:
people = Person[]

0-element Array{Person,1}

In [40]:
push!(people, Person("Steve", true, 42, 0))

1-element Array{Person,1}:
 Person("Steve",true,42.0,0)

In [41]:
push!(people, Person("Jade", false, 17, 3))

2-element Array{Person,1}:
 Person("Steve",true,42.0,0)
 Person("Jade",false,17.0,3)

In [42]:
type Family
    name::String
    members::Array{String, 1}
    extended::Bool
    Family(name::String) = new(name, String[], false)
    Family(name::String, members) = new(name, members, length(members)>3)
end

In [43]:
fam1 = Family("blogs")

Family("blogs",String[],false)

In [44]:
fam2 = Family("jones", ["anna", "bob", "charlie", "dick"])

Family("jones",String["anna","bob","charlie","dick"],true)

In [46]:
# Input & Output
fname = "simple.dat"
open(fname, "r") do f
    for line in eachline(f)
        print(line)
    end
end

this is a simple file containing
text and numbers:
43.3
17

In [47]:
f

LoadError: f not defined
while loading In[47], in expression starting on line 1

In [51]:
f = open(fname, "r")

IOStream(<file simple.dat>)

In [52]:
showall(readlines(f))

Union(UTF8String,ASCIIString)["this is a simple file containing\n","text and numbers:\n","43.3\n","17"]

In [53]:
readlines(f)

0-element Array{Union(UTF8String,ASCIIString),1}

In [54]:
close(f)

In [55]:
f = open(fname, "r")

IOStream(<file simple.dat>)

In [56]:
fstring = readall(f)

"this is a simple file containing\ntext and numbers:\n43.3\n17"

In [57]:
fstring

"this is a simple file containing\ntext and numbers:\n43.3\n17"

In [58]:
print(fstring)

this is a simple file containing
text and numbers:
43.3
17

In [59]:
close(f)

In [61]:
outfile = "outfile.dat"

"outfile.dat"

In [62]:
f = open(outfile,"w")

IOStream(<file outfile.dat>)

In [63]:
;ls

byexample.ipynb
express.ipynb
learn-julia-zh.jl
outfile.dat
quant-econ
simple.dat

In [64]:
println(f, "some content")

In [65]:
print(f, "more content")

In [66]:
print(f, "more on the same line")

In [67]:
close(f)

In [68]:
outfile_content = open(readall, outfile, "r")

"some content\nmore contentmore on the same line"

In [69]:
Pkg.available()

611-element Array{ASCIIString,1}:
 "AbstractDomains"
 "ActiveAppearanceModels"
 "AffineTransforms"
 "AmplNLWriter"
 "AnsiColor"
 "AppleAccelerate"
 "ApproxFun"
 "Arduino"
 "ArgParse"
 "ArrayViews"
 "Arrowhead"
 "ASCIIPlots"
 "AudioIO"
 ⋮
 "XClipboard"
 "XGBoost"
 "XSV"
 "YAML"
 "Yelp"
 "Yeppp"
 "YT"
 "ZChop"
 "ZipFile"
 "Zlib"
 "ZMQ"
 "ZVSimulator"

In [71]:
using Calculus

In [72]:
derivative(x -> sin(x), 1.0)

0.5403023058631036

In [73]:
import Calculus

In [74]:
Calculus.derivative(x -> cos(x), 1.0)

-0.8414709847974693

In [75]:
import Winston

LoadError: Winston not found
while loading In[75], in expression starting on line 1

In [76]:
import Gadfly

LoadError: Gadfly not found
while loading In[76], in expression starting on line 1

inline equation: $A+B=c$

display equation:
$$\int_x f(x,y)dy$$